[Unit]
Description=DHCPv6 Prefix Delegation Refresh Service

[Service]
Environment=REFRESHD_CHECK_INTERFACE=eth1
Environment=REFRESHD_PREFIX_LEN=56
ExecStart=/config/scripts/dhcpv6-pd-refreshd

[Install]
WantedBy=multi-user.target
