[Unit]
Description=DHCPv6 Prefix Delegation Refresh Service

[Service]
Environment=REFRESHED_CHECK_INTERFACE=eth1
Environment=REFRESHED_PREFIX_LEN=/62
ExecStart=/config/scripts/dhcpv6-pd-refreshd

[Install]
WantedBy=multi-user.target
